header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 30vw;
    padding: 0 10px;
    position: fixed;
}

.logo {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 800;
}

.logo-pag {
    width: 70px;
    height: 70px;
    transition: 1s;
    cursor: pointer;
}
    
.nav-ul, .ul-hamburger {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-weight: 400;
}

/* for wide screens */

@media screen and (min-width: 600px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100vw;
        height: 50px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logo-pag {
        height: 40px;
        width: 40px;
    }

    nav {
        display: flex;
        gap: 3px;
    }

    .nav-ul {
        flex-direction: row;
    }

    .ul-hamburger{
        flex-direction: row;
    }
}